---
name: Deploy

on:
    push:
        branches:
            - main

permissions:
    contents: read

jobs:
    linting:
        name: Run Black
        runs-on: ubuntu-latest
        environment: production
        steps:
            - uses: actions/checkout@v4
            - uses: eifinger/setup-rye@v2
            - run: |
                rye sync
                rye run black src
    security-scanner:
        name: Run Bandit
        runs-on: ubuntu-latest
        environment: production
        steps:
            - uses: actions/checkout@v4
            - uses: eifinger/setup-rye@v2
            - run:  |
                rye sync
                rye run bandit src/altair

    deploy:
        name: Deploy app to Fly.io
        runs-on: ubuntu-latest
        needs:
            - linting
            - security-scanner
        environment: production
        steps:
            - uses: actions/checkout@v4
            - uses: superfly/flyctl-actions/setup-flyctl@master
            - run: flyctl deploy
        env:
            FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        